### Welcome to your first assignment

Hello There. This is a simple way to get you started with Programming on your OWN using Python.

**If you come from a programming background**, you are likely to find this easy, and should be able to complete the assignment within **20 minutes**.

**For rest of the people, if you have not programmed for a few years OR never before**
This is very important that you spend **between 1-5 hours** in your first week, depending upon how quickly you become comfortable.

Getting comfortable with the Jupyter Notebook, writing code, exploring Python Programming syntax, the operators, basic Math Library, and very important aspect of programming, debugging.

**What is debugging**: To identify and remove errors from a program

With this assignment and in the next week or so, we would need you to cross the limitation of **never programmed before**.

You need to start thinking of programming as a tool to help you do your Data Science job. As you quickly get to the complex data types in Python, and start with NumPy and Data Science related concepts, this and next week of work will enable you in a big way.

All the very best. Do not hurry up, and be committed to your learning.
And most important Have FUN.
Happy coding!!


Develop a passion for learning. If you do, you will never cease to grow.
                                                                        - Anthony J. D'Angelo
                                                                        
Success is not final, failure is not fatal: it is the courage to continue that counts. 
                                                                        - Winston Churchill

# Variables and Overview of data types

### What is a Variable?
A variable is something that holds a value that may change. In simplest terms, a variable is just a box that you can put stuff in. You can use variables to store all kinds of stuff, but for now, we are just going to look at storing numbers in variables.

Python is completely object oriented, and not "statically typed". You do not need to declare variables before using them, or declare their type. Every variable in Python is an object.

### What is a data-type?
In Python, like in all programming languages, data types are used to classify one particular type of data. This is important because the specific data type you use will determine what values you can assign to it and what you can do to it (including what operations you can perform on it).

eg.&emsp;Lamborgini is an object of data type "car". 
<br>&emsp;&emsp; Can "Bajaj Yamaha" be an object of type "car"?
<br>&emsp;&emsp; No, because "Bajaj Yamaha" is a bike.
<br>&emsp;&emsp; This is the significance of data type.

#### IMPORTANT
Python provides extensive documentation for all it syntax, library etc
Make sure that you start to become comfortable in referring to it
Here is the link to the basic built-in data types.

Refer : https://docs.python.org/3.6/library/stdtypes.html

In the following code, we are assigning value 10 to a variable x

In [92]:
x = 10

**Q1 What is the type of x?**
<br> Execute the code by pressing "Shift Enter"
<br> And you will see that the function returns one of the basic data types (int, float, str)

<br> **Hint: Use type(x) function**

In [83]:
# Write your code below

type(x)
# Code ends here

int

In the following code, we are assigning a value 4.9 to variable y

In [84]:
y = 4.9

**Q2 What is the type of y?**

Follow the same steps as the ones in the previous question

In [85]:
# Write your code below
type(y)

# Code ends here

float

**Q3 Type cast x to float**

Type casting is useful for improving precision. Precision is very important for data analysis
<br> **TIP:** use float(x) to type cast to float. it will automatically print the float equivalent value

In [86]:
# Write your code below

float(x)
# Code ends here

10.0

# Operators

Python language supports the following types of operators.

Arithmetic Operators<br>
Comparison (Relational) Operators<br>
Assignment Operators<br>
Logical Operators<br>
Membership Operators<br>

** First lets clear out the concept of operators and operands. **

Operators are special tokens that represent computations like addition, multiplication and division,etc.<br>The values the operator works on are called operands.

Lets go over all the types of operators

# Arithmetic Operators

<tbody>
		<tr>
			<th style="text-align:center;">Operator</th>
			<th style="text-align:center;width:45%">Meaning</th>
			<th style="text-align:center;">Example</th>
		</tr>
		<tr>
			<td style="text-align:center;">+</td>
			<td style="text-align:center;">Add two operands or unary plus</td>
			<td style="text-align:center;">x + y<br>
			</td>
		</tr>
		<tr>
			<td style="text-align:center;">-</td>
			<td style="text-align:center;">Subtract right operand from the left or unary minus</td>
			<td style="text-align:center;">x - y<br></td>
		</tr>
		<tr>
			<td style="text-align:center;">\**</td>
			<td style="text-align:center;">Multiply two operands</td>
			<td style="text-align:center;">x\*y</td>
		</tr>
		<tr>
			<td style="text-align:center;">/</td>
			<td style="text-align:center;">Divide left operand by the right one (always results into float)</td>
			<td style="text-align:center;">x / y</td>
		</tr>
		<tr>
			<td style="text-align:center;">%</td>
			<td style="text-align:center;">Modulus - remainder of the division of left operand by the right</td>
			<td style="text-align:center;">x % y (remainder of x/y)</td>
		</tr>
		<tr>
			<td style="text-align:center;">//</td>
			<td style="text-align:center;">Floor division - division that results into whole number adjusted to the left in the number line</td>
			<td style="text-align:center;">x // y (quotient of x/y)</td>
		</tr>
		<tr>
			<td style="text-align:center;">\*\*</td>
			<td style="text-align:center;">Exponent - left operand raised to the power of right</td>
			<td style="text-align:center;">x \** y (x to the power y)</td>
		</tr>
	</tbody>

Please refer the operators given in the table to solve following questions

Given that

In [93]:
a = 5
b = 10

**Q4  Add a and b and display the result**
<br>
&ensp;&ensp;Whenever you need to display the result you need to use **print** function.

In [94]:
# Write your code below

print(a+b)
# Code ends here

15

**Q5 Subtract a from b and display the result**

In [95]:
# Write your code below
print(b-a)

# Code ends here

5

**Q6 Multiply a and b and display the result**

In [96]:
# Write your code below

print(a*b)

# Code ends here

50

**Q7 Divide a by b and display the result**

In [97]:
# Write your code below


print(a/b)
# Code ends here

0.5

**Q8 Find the remainder obtained when a is divided by b and display the result**

In [98]:
# Write your code below
print(a%b)

# Code ends here

5

**Q9 Find the result obtained when a is raised to b and display the result**

In [101]:
# Write your code below
print(a)
print(b)
print(a**b)

# Code ends here

5
10
9765625

**Q10 Find the quotient obtained when a is divided by b and display the result**

**Short revision**

eg. 
<br> a = 3
<br> b = 2 <br>
<br> a/b is
<br>
<span style="display:inline-block; width: 45px;"></span>quotient = 1 <br>
<span style="display:inline-block; width: 45px;"></span>remainder = 1 <br>

Now try to find out the exact operator from the table given above which can give you the quotient

In [102]:
a = 20
b = 6

In [103]:
# Write your code below
print(a//b)

# Code ends here

3

# Introduction to math library built-in functions


** The math library can be used to perform various functions. You can check them out in the link below.** <br>
All links to Python 3.6<br>
https://docs.python.org/3.6/library/math.html

The library includes logarithmic, trigonometric and various scientific functions which can help in performing different operations on the data

In [104]:
import math

**Q11 Use appropriate function and find 3\*\*2 **

In [105]:
# Write your code below
x=3
y=2
math.pow(x, y)

# Code ends here

9.0

**Q12 Use appropriate function and find square root of 64**

In [106]:
# Write your code below
import math
x=64
math.sqrt(x)


# Code ends here

8.0

# Comparison Operators

<tbody><tr>
<th style="text-align:center;width:10%">Operator</th>
<th style="text-align:center;width:45%">Description</th>

</tr>
<tr>
<td class="ts" style="text-align:center;" >==</td>
<td style="text-align:center;">If the values of two operands are equal, then the condition becomes true.</td>

<tr>
<td class="ts" style="text-align:center;">!=</td>
<td style="text-align:center;">If values of two operands are not equal, then condition becomes true.</td>

</tr>
<tr>
<td class="ts" style="text-align:center;">&gt;</td>
<td style="text-align:center;">If the value of left operand is greater than the value of right operand, then condition becomes true.</td>
</tr>
<tr>
<td class="ts" style="text-align:center;">&lt;</td>
<td style="text-align:center;">If the value of left operand is less than the value of right operand, then condition becomes true.</td>

</tr>
<tr>
<td class="ts" style="text-align:center;">&gt;=</td>
<td style="text-align:center;">If the value of left operand is greater than or equal to the value of right operand, then condition becomes true.</td>

</tr>
<tr>
<td class="ts" style="text-align:center;">&lt;=</td>
<td style="text-align:center;">If the value of left operand is less than or equal to the value of right operand, then condition becomes true.</td>

</tr>
</tbody>

** Please note that,&nbsp; '=' is not same as '=='**<br>
The reason being '=' is an assignment operator<br>
For eg. a = b + c<br>
The result of (b + c) would be stored in a<br>
While, if suppose a == b,<br>
Here we are trying to compare the values of a and b<br>
Don't worry you will be exploring comparison operators in the following section


#### Some operations are supported by several object types; in particular, practically all objects can be compared, tested for truth value, and converted to a string

Given that

In [34]:
a = 20
b = 6
print(a)
print(b)

20
6

**Q13 Check whether a equal to b and display the result**

Tip: Use print statement

In [33]:
# Write your code below
print(a)
print(b)
print(a==b)
# Code ends here

20
6
False

**Q14 Can you tell what is the data type of your output?**
Refer: https://docs.python.org/3.6/library/stdtypes.html

In [32]:
# Write your code below
print(a)
print(b)
type(a==b)

# Code ends here

20
6

bool

##### Bonus Q<br>

**Q15 Try a = b also and see the result**

In [31]:
# Write your code below
print(a)
print(b)
print(a=b)
# Code ends here

20
6

TypeError: 'a' is an invalid keyword argument for print()

**Q16 Check whether a equal to b using not equal (!=) operator and display the result**

In [30]:
# Write your code below
print(a)
print(b)
print(a!=b)
# Code ends here

20
6
True

**Q17 Check whether a is greater than b and display the result**

In [29]:
# Write your code below
print(a)
print(b)
print(a>b)

# Code ends here

20
6
True

**Q18 Check whether a is less than b and display the result**

In [28]:
# Write your code below
print(a)
print(b)
print(a<b)

# Code ends here

20
6
False

**Q19 Check whether a is greater than or equal to b and display the result**

In [26]:
# Write your code below
print(a)
print(b)
print(a>=b)

# Code ends here

20
6
True

**Q20 Check whether a is less than or equal to b and display the result**

In [27]:
# Write your code below

print(a)
print(b)
print(a<=b)
# Code ends here

20
6
False

# Assignment Operators

<tbody><tr>
<th style="text-align:center;width:25%">Operator</th>
<th style="text-align:center;width:45%">Description</th>
<th style="text-align:center;">Example</th>
</tr>
<tr>
<td class="ts" style="text-align:center;">=</td>
<td style="text-align:center;">Assigns values from right side operands to left side operand</td>
<td style="vertical-align:middle;text-align:center;">c = a + b assigns value of a + b into c</td>
</tr>
<tr>
<td class="ts" style="text-align:center;">+= Add AND</td>
<td style="text-align:center;">It adds right operand to the left operand and assign the result to left operand</td>
<td style="vertical-align:middle;text-align:center;">c += a is equivalent to c = c + a</td>
</tr>
<tr>
<td class="ts" style="text-align:center;">-= Subtract AND</td>
<td style="text-align:center;">It subtracts right operand from the left operand and assign the result to left operand</td>
<td style="vertical-align:middle;text-align:center;">c -= a is equivalent to c = c - a</td>
</tr>
<tr>
<td class="ts" style="text-align:center;">\*= Multiply AND</td>
<td style="text-align:center;">It multiplies right operand with the left operand and assign the result to left operand</td>
<td style="vertical-align:middle;text-align:center;">c \*= a is equivalent to c = c \* a</td>
</tr>
<tr>
<td class="ts" style="text-align:center;">/= Divide AND</td>
<td style="text-align:center;">It divides left operand with the right operand and assign the result to left operand</td>
<td style="vertical-align:middle;text-align:center;">c /= a is equivalent to c = c / a</td>
</tr>
<tr>
<td class="ts" style="text-align:center;">%= Modulus AND</td>
<td style="text-align:center;">It takes modulus using two operands and assign the result to left operand</td>
<td style="vertical-align:middle;text-align:center;">c %= a is equivalent to c = c % a</td>
</tr>
<tr>
<td class="ts" style="text-align:center;"> \*\* = Exponent AND</td>
<td style="text-align:center;">Performs exponential (power) calculation on operators and assign value to the left operand</td>
<td style="vertical-align:middle;text-align:center;">c \*\*= a is equivalent to c = c \*\* a</td>
</tr>
<tr>
<td class="ts" style="text-align:center;">//= Floor Division</td>
<td style="text-align:center;">It performs floor division on operators and assign value to the left operand</td>
<td style="vertical-align:middle;text-align:center;">c //= a is equivalent to c = c // a</td>
</tr>
</tbody>

These are called as 'short hand' operators. They will help you to code faster.

**Q21 Assign 5 to variable a**
<br> **Print a**

In [56]:
# Write your code below
a=5
print(a)

# Code ends here

5

**Q22 Add 5 to variable 'a' and assign the value to 'a' (Hint: use '+=')**
<br> **Print a**

In [58]:
# Write your code below
a=a+5
print(a)

# Code ends here

15

**Q23 Subtract 5 from variable 'a' and assign the value to 'a' (Hint: use '-=')**
<br> **Print a**

In [59]:
# Write your code below
 
a=a-5
print(a)
# Code ends here

10

**Q24 Multiply 5 to variable 'a' and assign the value to 'a' (Hint: use '*=')**
<br> **Print a**

In [60]:
# Write your code below
a=a*5
print(a)

# Code ends here

50

**Q25 Divide variable 'a' by 5 and assign the value to 'a' (Hint: use '/=')**
<br> **Print a**

In [61]:
# Write your code below

a=a/5
print(a)
# Code ends here

10.0

**Q26 Divide variable 'a' by 5  and assign the remainder value to 'a' (Hint: use '%=')**
<br> **Print a**

In [62]:
# Write your code below

a=a%5
print(a)
# Code ends here

0.0

**Given that avalue is assigned to 5 below**

In [67]:
a = 5

Q27 Raise 'a' by 2 and assign the result to 'a' (Hint: use '**=')
<br> **Print a**

In [68]:
# Write your code below
print(a)
a=a**2
print(a)
# Code ends here

5
25

**Q28 Use floor division to divide 'a' by 2 and assign the result to 'a' (Hint: use '//=')**

In [81]:
# Write your code below
import math
print(a)
a=a//2
print(a)


# Code ends here

26
13

Note that a was 25 before floor division and it later became 12.<br>
Actually, 25/2 is 12.5 but floor division eliminates decimal part and returns the quotient only.

**Please challenge yourself with the last bonus question if you feel confident with assignment operators**

# Logical Operators

<tbody><tr>
<th style="text-align:center;width:20%">Operator</th>
<th style="text-align:center;width:45%">Description</th>
<th style="text-align:center;">Example</th>
</tr>
<tr>
<td style="text-align:center;">and Logical AND</td>
<td class="ts" style="text-align:center;">If both the operands are true then condition becomes true.</td>
<td class="ts" style="text-align:center;">(a and b) is true.</td>
</tr>
<tr>
<td style="text-align:center;">or Logical OR</td>
<td class="ts" style="text-align:center;">If any of the two operands are non-zero then condition becomes true.</td>
<td class="ts" style="text-align:center;">(a or b) is true.</td>
</tr>
<tr>
<td style="text-align:center;">not Logical NOT</td>
<td class="ts" style="text-align:center;">Used to reverse the logical state of its operand.</td>
<td class="ts" style="text-align:center;">Not(a and b) is false.</td>
</tr>
</tbody>

Given that

In [71]:
a = 5
b = 25

**Q29 Try 'and' operator for finding whether a and b both are divisible by 5. (Hint use '%') **

<br> TIP: 
<br> First write the code to check a is divisible by 5 
<br> (a % 5) == 0
<br> Now write the code to check b is divisible by 5
<br> (b % 5) == 0
<br> Now connect the two conditions by AND operator
<br> You will have to use brackets to make this into a single statement
<br> e.g. (a % 5) == 0 and (b % 5) == 0
<br> and now when you print the result, you need to add additional braces

<br>**Remember**
<br>"AND" operator will return True only when all the conditions are True

In [72]:
# Write your code below

print((a % 5) == 0 and (b % 5) == 0 )

# Code ends here

True

Given that

In [73]:
a = 26
b = 25

Q30 Try 'or' operator for finding whether either a or b is divisible by 5. (Hint use '%') 
<br> TIP
<br>Follow similar procedure that you have followed in the previous question and in the end use 'or' operator instead of 'and'.

<br>**Remember**
<br>"OR" operator will return False only when all the conditions are False

In [74]:
# Write your code below 
print((a % 5) == 0 or (b % 5) == 0 )

# Code ends here

True

Given that

In [ ]:
a = 26

**Q30 Try 'not' operator to check whether a is not equal to 26. (Hint use 'not' and '==') **

eg. To check whether a is not equal to 35 ->
<br> I have to check whether a is equal to 35 and then calculate 'not' of the result.

In [80]:
# Write your code below
print(a)
print(b)
print(not(a==26))

# Code ends here

26
25
False

In [79]:
print(a)
print(a==35)
print(not(a==35))

26
False
True